<!-- Sequence: 20 -->

#* @vtlvariable name="contextService" type="org.nrg.framework.services.ContextService" *#
#if (($item.canEdit($user) && ($user.checkRole("Dqr") || ($contextService && $contextService.getBean("dqrPreferences").getAllowAllUsersToUseDqr()))) || $user.checkRole("Administrator"))

    <!-- BEGIN /templates/screens/xnat_imageSessionData/actionsBox/SendToPacs.vm -->

    #set($destination = $link.setPage("ExportSessionToPacs.vm").addQueryData("sessionId", $om.id).addQueryData("project", $project))
        <li class="yuimenuitem hidden" id="send-to-pacs-link">
            <a href="$destination" id="sendToPacs">Send to PACS</a>
            <!-- #[[ -->
            <script>
                $('#sendToPacs').on('click', function(e){
                    e.preventDefault();
                    var destination = $(this).prop('href');
                    function noPacsErrorMsg(){
                        XNAT.ui.dialog.open({
                            title: 'Cannot Send To DICOM Destination',
                            width: 400,
                            content: spawn('p', [
                                spawn('strong', 'Error:'),
                                spawn('span', ' Cannot send to PACS. Either no DICOM AE connections have been enabled on this XNAT instance or none of the configured connections can be sent to. Please contact your XNAT Administrator to resolve this.')
                            ]),
                            buttons: [
                                {
                                    label: 'OK',
                                    isDefault: true,
                                    close: true
                                }
                            ]
                        });
                    }
                    XNAT.xhr.getJSON({
                        url: XNAT.url.rootUrl('/xapi/pacs?storable=true'),
                        success: function(data){
                            if (data && data.length) {
                                window.location.assign(destination);
                            }
                            else {
                                noPacsErrorMsg();
                            }
                        },
                        failure: function(){
                            noPacsErrorMsg();
                        }
                    });
                });
            </script>
            <!-- ]]# -->
        </li>

        <!-- #[[ -->
        <script>
            (function(){

                console.log('[Send to PACS]');

                var projectId = XNAT.data.context.project || (window.location.href.split('/project/')[1] || '').split('/')[0]

                var sendToPacsLink$ = $('#send-to-pacs-link');

                // only show 'Send to PACS' when all requirements are met
                XNAT.xhr.get({
                    url: XNAT.url.rootUrl('/xapi/dqr/settings/project/' + projectId+'/enabled'),
                    success: function(data){
                        console.log('PACS enabled');
                        if (/^true$/i.test(data)) {
                            sendToPacsLink$.removeClass('hidden').show();
                            sendToPacsLink$.closest('ul').removeClass('hidden').show();
                        }
                        else {
                            console.log('PACS *NOT* enabled');
                            sendToPacsLink$.remove();
                        }
                    },
                    failure: function(){
                        console.warn(this);
                        console.warn(arguments);
                        sendToPacsLink$.remove();
                    }
                });

            })();
        </script>
        <!-- ]]# -->

    <!-- END /templates/screens/xnat_imageSessionData/actionsBox/SendToPacs.vm -->

#end

